<div class="sidebar">
  {{#link-to 'reminders.new' class="new-button"}}New{{/link-to}}
  {{#if model}}
    <ul class="reminder-list">
      {{#each savedReminders as |reminder|}}
        {{#link-to 'reminders.reminder' reminder}}
          <li class='spec-reminder-item'>
              {{reminder.title}}
          </li>
        {{/link-to}}
        <button class="reminders-delete" {{action 'deleteReminder' reminder}}>X</button>
        {{#if reminder.hasDirtyAttributes}}
          <p class="unsaved-changes">There are unsaved changes.</p>
        {{/if}}
      {{/each}}
    </ul>
  {{else}}
    <p class="reminder-welcome">Welcome to your notes, click 'new' to add a new note</p>
  {{/if}}
</div>

<div class="right-side">
  {{outlet}}
</div>
