<ul class="reminder-list">
  {{#each model as |reminder|}}
    {{#link-to 'reminders.reminder' reminder}}
      <li class='spec-reminder-item'>
          {{reminder.title}}
      </li>
    {{/link-to}}
  {{/each}}
</ul>

{{#link-to 'reminders.new'}}New{{/link-to}}

{{outlet}}
